.git
.github
.gitignore

.vscode
.idea

data/
logs/
airflow/logs/

dbt/.keys/
dbt/olist_dbt/target/
dbt/olist_dbt/logs/
dbt/olist_dbt/dbt/
dbt/olist_dbt/dbt_packages/

**/__pycache__/
**/*.pyc
**/*.pyo

.env
*.json
*.log

tests/
docs/