# =====================================================
# Python
# =====================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/

.env

# =====================================================
# Jupyter
# =====================================================

.ipynb_checkpoints/

# =====================================================
# IDE / Editors
# =====================================================

.vscode/
.idea/

# =====================================================
# Operating systems
# =====================================================

.DS_Store
Thumbs.db

# =====================================================
# Logs
# =====================================================

*.log
logs/
airflow/logs/

# Airflow generated runtime files
airflow/dags/dag_id=*/
airflow/dags/dag_processor/

# =====================================================
# Generated data
# =====================================================

data/processed/
data/tmp/

# Keep demonstration CSV samples
!data/sample/
!data/sample/*.csv

# =====================================================
# Secrets and credentials
# =====================================================

.keys/
dbt/.keys/

*.pem
*.key
*.p12

# Prevent accidental service-account exposure
*.json

# =====================================================
# dbt local configuration
# =====================================================

dbt/.dbt/.user.yml

# profiles.yml is kept only after checking that it
# contains no password or private key
# dbt/.dbt/profiles.yml

# dbt generated artifacts
dbt/olist_dbt/target/
dbt/olist_dbt/logs/
dbt/olist_dbt/dbt/
dbt/olist_dbt/dbt_packages/

dbt/target/
dbt/logs/
dbt/dbt_packages/

# =====================================================
# Spark generated files
# =====================================================

*.crc
_SUCCESS

# =====================================================
# Terraform — future generated/local files
# =====================================================

.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
terraform.tfvars
*.auto.tfvars

# =====================================================
# Docker
# =====================================================

*.pid